html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    background-image: url('../../images/backgrounds.jpg');
    background-size: cover;
    height: 100%;
}

.nav{
    background: linear-gradient(to bottom right, #A4BBB1, #88ACA2);
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.headbutton {
    padding: 25px;
    max-height: 80px;
    min-width: 80px;
    color: #e5e3c9;
    text-align: center;
    justify-content: center;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    margin-left: 1.1%;
    transition: .2s ease-in-out;
    
}
.titlename {
    background-image: url('../../images/secondary.png');
    font-size: 50px;
    color: #7a7978;
    text-align: center;
    margin: 20px auto;
    height: 100px;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 0px 50px 0px 0px;
    margin-top: 3%;
    opacity: .85;
    padding-top: 50px;
}

.container {
    height: 750px;
    width: 100%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.words {
    background-image: url('../../images/secondary.png');
    color: #7a7978;
    font-size: 150px;
    text-align: center;
    margin: 20px auto;
    height: 200px;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    opacity: .85;
}

.guesscontainer {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    margin-top: -20px;
    width: 90%;   
}

.rguess, .wguess {
    background-image: url('../../images/secondary.png');
    text-align: center;
    font-size: 25px;
    margin: 20px auto;
    height: 150px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    flex: 2;
    opacity: .85;
    color: #7a7978;
}

.rguess {
    margin-right: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    margin-top: -20px;
    width: 90%;
}

.guesses {
    background-image: url('../../images/secondary.png');
    font-size: 30px;
    text-align: center;
    height: 150px;
    width: 100%;
    border-radius: 10px 10px 10px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    opacity: .85;
    color: #7a7978;
}

#blinker {
    animation-name: blinker;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#blinker:hover{
    animation-play-state: paused;
}

@keyframes blinker {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}