html {
    /* background: linear-gradient(to bottom right, #87cefa , #6495ed); */
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../images/wallpaper.png');
}


.titlename {
    /* background-color: #ff8c00; */
    background-image: url('../images/title.png');
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    height: 170px;
    width: 90%;
    border-radius: 10px 50px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);


    

}

.container {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}


.titletext {
    font-size: 60px;

}

.namefont {
    font-size: 30px;

}

hr {
    width: 95%;

}

.words {
    background-image: url('../images/secondary.png');
    font-size: 150px;
    text-align: center;
    margin: 20px auto;
    height: 200px;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.guesscontainer {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    width: 90%;
    
}

.rguess {
    background-image: url('../images/secondary.png');
    font-size: 35px;
    text-align: center;
    margin: 20px auto;
    margin-right: 20px;
    margin-left: -5px;
    height: 150px;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.rightguesses {
    font-size: 25px;
}

.wrongguesses {
    font-size: 25px;
}

.wguess {
    background-image: url('../images/secondary.png');
    font-size: 35px;
    text-align: center;
    margin: 20px auto;
    margin-right: -5px;
    margin-left: 20px;
    height: 150px;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.stats {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    width: 91%;
}

/* .wins {
    border: 5px solid black;
    background-color: #ffe4e1;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    margin-right: 20px;
    margin-left: -5px;
    height: 150px;
    width: 90%;
}

.loss {
    border: 5px solid black;
    background-color: #ffe4e1;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    margin-right: -5px;
    margin-left: 20px;
    height: 150px;
    width: 90%;
} */

.guesses {
    background-image: url('../images/secondary.png');
    font-size: 30px;
    text-align: center;
    /* margin: 20px auto; */
    /* margin-right: 20px;
    margin-left: 20px; */
    height: 150px;
    width: 100%;
    border-radius: 10px 10px 10px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

